{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}
{% set page_subtitle %}Retrouvez pleins de recettes et un blog dédié à la cuisine !{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="dashboard">
            <div class="dashboard-line-1">
                {% set cards = [
                    { path: path('user_recipes_index'), icon: 'book-1', name: 'Recettes' },
                    { path: path('user_aventures_groupes_index'), icon: 'map', name: 'Aventures' },
                    { path: path('user_projects_index'), icon: 'calendar', name: 'Projets' },
                    { path: path('user_birthdays_index'), icon: 'cake', name: 'Anniversaires' },
                    { path: path('user_budget_index', {'year': 'now'|date('Y')}), icon: 'calculator', name: 'Planificateur' },
                ] %}

                {% for item in cards %}
                    <a class="card" href="{{ item.path }}">
                        <div class="card-icon"><span class="icon-{{ item.icon }}"></span></div>
                        <div class="card-title">
                            <span class="name">{{ item.name }}</span>
                            <span class="icon-right-arrow"></span>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div class="dashboard-line-2">
                <div class="card">
                    <div class="card-header">
                        <div class="icon"><span class="icon-refresh1"></span></div>
                        <div class="title">Informations des mises à jours</div>
                    </div>
                    <div class="card-body">
                        <div class="changelogs-view">
                            {% if changelogs | length <= 0 %}
                                <div class="changelog-view changelog-type-1">
                                    <div class="col-1">
                                        <span class="icon-follow"></span>
                                    </div>
                                    <div class="col-2">
                                        <div class="name">Site internet à jour</div>
                                        <div class="date">{{ "now" | date | format_datetime('full', 'short', locale="fr") | replace({":": "h"}) | capitalize }}</div>
                                    </div>
                                </div>
                            {% else %}
                                {% for elem in changelogs %}
                                    <div class="changelog-view changelog-type-{{ elem.type }}">
                                        <div class="col-1">
                                            <span class="icon-{{ elem.icon }}"></span>
                                        </div>
                                        <div class="col-2">
                                            <div class="name">{{ elem.name }}</div>
                                            <div class="date">{{ elem.createdAt | format_datetime('full', 'short', locale="fr") | replace({":": "h"}) | capitalize }}</div>
                                            <div class="content">{{ elem.content | raw }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
