{% extends 'user/pages/holidays/template.html.twig' %}

{% set page_title %}Projets{% endset %}
{% set page_subtitle %}Liste des projets{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_projects_create'),
        btn_type: 'blue',
        btn_icon: 'add',
        btn_text: 'Ajouter un projet'
    } %}
{% endset %}

{% block main_content %}
<div class="flex justify-center gap-4 flex-wrap 2xl:justify-start qhd:gap-6">
    {% if projects | length > 0 %}
        {% for elem in projects %}
            <div class="bg-white rounded-md w-full sm:w-72 md:w-80 xl:w-72 shadow-sm">
                <div class="p-4 border-b">
                    <div class="font-medium">{{ elem.name }}</div>
                </div>
                <div class="relative cursor-pointer group overflow-hidden {{ app.user.id == elem.author.id ? '' : 'rounded-b-md' }}">
                    <a href="{{ path('user_projects_read', {slug: elem.slug}) }}" class="bg-gray-800/15 absolute w-full h-full group-hover:opacity-0 transition-opacity"></a>
                    <img src="{{ asset(elem.imageFile) }}" alt="Logo {{ elem.name }}" class="w-80 h-56 object-cover">
                </div>
                {% if app.user.id == elem.author.id %}
                    <div class="relative z-10 flex justify-between divide-x py-2">
                        <div class="w-full text-center">
                            {% include 'layout/components/tailwind/buttons/button_icon.html.twig' with {
                                btn_link: path('user_projects_update', {slug: elem.slug}),
                                btn_type: 'transparent',
                                btn_icon: 'pencil',
                                btn_text: 'Modifier'
                            } %}
                        </div>
                        <div class="delete-project w-full text-center"
                             data-context="projects"
                             data-id="{{ elem.id }}"
                             data-name="{{ elem.name }}"
                        >
                            {% include 'layout/components/tailwind/buttons/button_icon.html.twig' with {
                                btn_link: "",
                                btn_type: 'transparent',
                                btn_icon: 'chart-3',
                                btn_text: 'Supprimer'
                            } %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="w-full flex flex-col items-center justify-center">
            <div>
                <div class="flex flex-col items-center justify-center bg-white p-12 rounded-xl shadow-sm">
                    <div class="bg-orange-100 rounded-lg p-3">
                        <svg class="w-6 h-6 text-orange-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>
                    </div>
                    <div class="text-xl font-medium mt-4">Aucun projet enregistré</div>
                    <div class="max-w-sm text-gray-500 text-center mt-2">
                        Vous n'avez aucun projet de créé. Commencez à ajouter votre premier projet voyage.
                    </div>
                    <div class="mt-4">
                        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                            btn_link: path('user_projects_create'),
                            btn_type: 'blue',
                            btn_icon: 'add',
                            btn_text: 'Créer un projet'
                        } %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
