{% extends 'user/pages/randos/template.html.twig' %}

{% set groupe = elem.groupe %}
{% set author = elem.author %}

{% block title %}{{ elem.name }} | {{ page_prefix }}{% endblock %}
{% set page_title_alone %}{{ elem.name }}{% endset %}
{% set page_subtitle %}Groupe de randonnée : {{ groupe.name }}{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([
        { text: groupe.name, url: path('user_randos_groupes_read', {'slug': groupe.slug}) },
        { text: page_title_alone, url: path('user_randos_rando_read', {'slug': elem.slug}) },
    ]) %}
    {{ parent() }}
{% endblock %}

{% set half_width = true %}

{% block main_content %}
    <div class="page-actions">
        <div class="col-1">
            <a href="{{ path('user_randos_groupes_read', {'slug': groupe.slug}) }}" class="btn btn-outline-default">
                <span class="icon-left-arrow"></span>
                <span>Retourner au groupe</span>
            </a>
        </div>
        <div class="col-2">
            {% if app.user.id == elem.author.id or app.user.admin %}
                <a href="{{ path('user_randos_rando_update', {'slug': elem.slug}) }}" class="btn btn-warning">
                    <span class="icon-pencil"></span>
                    <span>Modifier</span>
                </a>
                {% if elem.status != 2 %}
                    <div class="delete-rando"
                         data-context="read"
                         data-id="{{ elem.id }}"
                         data-name="{{ elem.name }}"
                         data-groupe-slug="{{ groupe.slug }}"
                    >
                        <button class="btn btn-danger btn-loader-without-text">
                            <span class="icon-chart-3"></span>
                            <span>Supprimer</span>
                        </button>
                    </div>
                    {% if elem.startAt != null and elem.adventure != null %}
                        <div class="end-rando"
                             data-context="read"
                             data-id="{{ elem.id }}"
                             data-name="{{ elem.name }}"
                             data-groupe-slug="{{ groupe.slug }}"
                        >
                            <button class="btn btn-success btn-loader-without-text">
                                <span class="icon-chart-3"></span>
                                <span>Terminer</span>
                            </button>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="page-default">
        <div class="rando-read">
            <div class="rando-meta">
                <div class="features">
                    <div class="ra-status active">
                        <span>{{ elem.statusString }}</span>
                    </div>
                    <div class="members">
                        {% for member in groupe.links %}
                            <div class="member">
                                <div class="avatar">
                                    {% if member.user.avatarFile %}
                                        <img src="{{ asset(member.user.avatarFile) }}" alt="Avatar utilisateur">
                                    {% else %}
                                        <div class="avatar-letter">{{ member.user.lastname | slice(0, 1) }}{{ member.user.firstname | slice(0,1) }}</div>
                                    {% endif %}
                                </div>
                                <span class="tooltip">{{ member.user.displayName }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="author">
                    <div class="user">
                        <div class="name">{{ author.displayName }}</div>
                        <div class="avatar">
                            <div class="avatar-letter">{{ author.lastname | slice(0,1) }}{{ author.firstname | slice(0,1) }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rando-content">
                {% if app.user.id == elem.author.id or (elem.startAt == null and elem.adventure == null) or app.user.admin %}
                    <div class="rando-col-propals {{- elem.startAt and elem.adventure ? ' to-line' : '' -}}">
                        <div id="rando_date"
                             data-rando-id="{{ elem.id }}"
                             data-start-at="{{ elem.startAt ? elem.startAt | date('Y-m-d') : "" }}"
                             data-propals="{{ propalDates }}"
                             data-user-id="{{ app.user.id }}"
                             data-mode="{{ app.user.id == elem.author.id }}"
                             data-status="{{ elem.status }}"
                        >
                            {% include "layout/components/loader.html.twig" %}
                        </div>

                        {% if elem.startAt %}
                            <div id="rando_adventures"
                                 data-rando-id="{{ elem.id }}"
                                 data-user-id="{{ app.user.id }}"
                                 data-have-adventure="{{ elem.adventure ? 1 : 0 }}"
                                 data-adv-name="{{ elem.adventure ? elem.adventure.name : '' }}"
                                 data-propals="{{ propalAdvs }}"
                                 data-mode="{{ app.user.id == elem.author.id }}"
                                 data-status="{{ elem.status }}"
                            >
                                {% include "layout/components/loader.html.twig" %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% set trans_day_hash = {
                    "Monday": "Lundi",
                    "Tuesday": "Mardi",
                    "Wednesday": "Mercredi",
                    "Thursday": "Jeudi",
                    "Friday": "Vendredi",
                    "Saturday": "Samedi",
                    "Sunday": "Dimanche"
                }
                %}

                {% if elem.startAt and elem.adventure %}
                    {% set adventure = elem.adventure %}

                    <div class="rando-details">
                        <div class="rando-card">
                            <div class="rando-card-header">
                                <div class="name">{{ adventure.name }}</div>
                                <div class="date">{{ trans_day_hash[elem.startAt | date('l')] ~ elem.startAt | date(' d M Y') }}</div>
                            </div>
                            <div class="rando-card-body selected">
                                <div class="rando-card-meta">
                                    {% if adventure.duration %}
                                        <div class="sub-icon">
                                            <span class="icon-time"></span>
                                            <span>{{ adventure.duration | date('H\\hi') | duration }}</span>
                                        </div>
                                    {% endif %}
                                    {% if adventure.url %}
                                        <div class="sub-icon">
                                            <span class="icon-link"></span>
                                            <span><a href="{{ adventure.url }}" class="url-topo" target="_blank">Lien du topo</a></span>
                                        </div>
                                    {% endif %}
                                    {% if elem.distance %}
                                        <div class="sub-icon">
                                            <span class="icon-box"></span>
                                            <span>Distance : {{ elem.distance }} km</span>
                                        </div>
                                    {% endif %}
                                    {% if elem.devPlus %}
                                        <div class="sub-icon">
                                            <span class="icon-box"></span>
                                            <span>D+ : {{ elem.devPlus }} m</span>
                                        </div>
                                    {% endif %}
                                    {% if elem.altitude %}
                                        <div class="sub-icon">
                                            <span class="icon-box"></span>
                                            <span>Altitude : {{ elem.altitude }} m</span>
                                        </div>
                                    {% endif %}
                                    <div class="members">
                                        {% for v in adventure.votes %}
                                            {% set participant = null %}
                                            {% for u in users %}
                                                {% if u.id == v %} {% set participant = u %} {% endif %}
                                            {% endfor %}

                                            <div class="member">
                                                <div class="avatar">
                                                    {% if participant.avatarFile %}
                                                        <img src="{{ asset(participant.avatarFile) }}" alt="Avatar utilisateur">
                                                    {% else %}
                                                        <div class="avatar-letter">{{ participant.lastname | slice(0, 1) }}{{ participant.firstname | slice(0,1) }}</div>
                                                    {% endif %}
                                                </div>
                                                <span class="tooltip">{{ participant.displayName }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
{#                                <div class="rando-card-meta">#}
{#                                </div>#}
{#                                <div class="rando-card-content">#}
{#                                    <div>ok</div>#}
{#                                </div>#}
                            </div>
                            {% if app.user.id == elem.author.id or app.user.admin %}
                                <div class="rando-card-footer">
                                    <a href="{{ path('user_randos_rando_update', {'slug': elem.slug}) }}" style="color: white">
                                        <span class="icon-add"></span>
                                        <span>Ajouter des informations</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div id="rando_images"
                         data-rando-id="{{ elem.id }}"
                         data-user-id="{{ app.user.id }}"
                         data-images="{{ images }}"
                    >
                        {% include "layout/components/loader.html.twig" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
