{% extends 'user/pages/aventures/template.html.twig' %}

{% set page_title %}Modifier : {{ elem.name }}{% endset %}
{% set page_subtitle %}Modifiez les informations de la randonnée : {{ elem.name }}.{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([
        { text: elem.groupe.name, url: path('user_aventures_groupes_read', {'slug': elem.groupe.slug}) },
        { text: page_title }
    ]) %}
    {{ parent() }}
{% endblock %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_aventures_groupes_read', {slug: elem.groupe.slug}),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à liste'
    } %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_aventures_randos_read', {slug: elem.slug}),
        btn_type: 'default',
        btn_icon: 'vision',
        btn_text: 'Voir la randonnée'
    } %}
{% endset %}

{% block main_content %}
    <div id="randos_update"
         data-users="{{ users }}"
         data-is-admin="{{ app.user.isAdmin }}"
         data-user-id="{{ app.user.id }}"
         data-element="{{ element }}"
         data-groupe-id="{{ elem.groupe.id }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
