{% extends 'user/pages/blog/template.html.twig' %}

{% set page_title %}Une escapade de 5 jours à Chamonix{% endset %}
{% set page_subtitle %}Du 1er au 4 Août 2023{% endset %}

{% block main_content %}
    <style>
        p{
            color: #FFFFFF;
        }
    </style>
    <div id="mapSrc" data-map="cochons/chamonix/map.svg"></div>
    <div id="article-loader">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
    <div class="main-content main-content-transparent" id="article" style="opacity: 0">
        <div class="article">
            <div class="content">
                <div class="main">
                    <div class="container"></div>
                    <div class="text">
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Sud de la France</span><span class="title-down">Une escapade de 5 jours à Chamonix</span></h2>
                            <p class="text-intro">Pour cette escapade, nous étions un groupe de 5 personnes au départ de Peyrolles-en-provence.</p>

                            <p>
                                On démarre au petit matin pour se rendre à Chamonix, plus précisément aux alentours des
                                Bossons, pour rejoindre notre fabuleux chalet loué sur AirBnb.
                                <br>
                                <br>
                                Arrivé un peu avant midi, on dépose nos bagages, on choisit nos lits et on découvre les lieux !
                            </p>
                        </section>
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Jour 1</span><span class="title-down">Arrivée au chalet</span></h2>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-1v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-2v-2.jpg') }}"  />
                                </div>
                                <div class="js-gallery-content" style="margin-top: 10px;">
                                    <video controls>
                                        <source src="{{ asset('storytelling/cochons/chamonix/v6.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                                <figcaption>Chalet chaleureux, bien équipé et une magnifique vue sur le glacier des Bossons.</figcaption>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="2.5">
                            <h2><span class="title-up">Houches</span><span class="title-down">Petit repas avec vue</span></h2>

                            <p>
                                Pour notre premier repas, on s'est dirigé aux Houches pour trouver une boulangerie.
                            </p>
                            <p>
                                On a fini par trouver, tant bien que mal, une boulangerie au pied d'un télésiège qui donne une superbe vue
                                sur les montagnes encore enneigées.
                            </p>

                            <figure class="js-image" data-pos="0.3">
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-4v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-5v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-6v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-7v-2.jpg') }}"  />
                                </div>
                                <div class="js-gallery-content">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-3v-2.jpg') }}"  />
                                </div>
                                <div class="js-gallery-content">
                                    <video controls>
                                        <source src="{{ asset('storytelling/cochons/chamonix/v2.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                                <figcaption>Vue depuis la terrasse sur les monts enneigés.</figcaption>
                            </figure>

                            <p>
                                Première bière de l'escapade, on chill en terrasse avant de reprendre la voiture pour
                                se diriger à Annecy qui se trouve à environ 1h15 de route.
                            </p>

                            <figure>
                                <img src="{{ asset('storytelling/cochons/chamonix/img-8v-2.jpg') }}"  />
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="0.6">
                            <h2><span class="title-up">Annecy</span><span class="title-down">Visite sous un temps pluvieux</span></h2>

                            <p>
                                Pas de chance, on arrive à Annecy sous quelques fines averses.
                            </p>

                            <figure>
                                <img src="{{ asset('storytelling/cochons/chamonix/img-9v-2.jpg') }}"  />
                                <img src="{{ asset('storytelling/cochons/chamonix/img-10v-2.jpg') }}"  />
                                <figcaption>Le fameux pont des amours.</figcaption>
                            </figure>

                            <p>
                                Le vieux Annecy est ce qu'il y a de plus intéressant à photographier. Son architecture et
                                ses décorations fleuries donnent un petit charme au lieu.
                            </p>

                            <figure>

                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-11v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-12v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-13v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-14v-2.jpg') }}"  />
                                </div>
                                <figcaption>La ville d'Annecy.</figcaption>
                            </figure>

                            <figure class="js-image" data-pos="0.5">
                                <img src="{{ asset('storytelling/cochons/chamonix/img-15v-2.jpg') }}"  />
                                <img src="{{ asset('storytelling/cochons/chamonix/img-16v-2.jpg') }}"  />
                                <figcaption>Shooting groupé.</figcaption>
                            </figure>

                            <p>
                                Pour le soir, on a réservé un restaurant de burger qui proposait de belles choses bien grasses !
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-17v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-18v-2.jpg') }}"  />
                                </div>
                                <div class="js-gallery-content">
                                    <img class="js-image" data-pos="0.6" src="{{ asset('storytelling/cochons/chamonix/img-19v-2.jpg') }}"  />
                                </div>
                                <figcaption>Le petit groupe avant d'aller graille.</figcaption>
                            </figure>

                            <p>
                                On finit la soirée en retournant à notre chalet pour jouer à quelques jeux de sociétés et
                                se reposer pour la vraie découverte de Chamonix.
                            </p>
                        </section>

                        <section class="js-section" data-zoom-start="1.5">
                            <h2><span class="title-up">Jour 2</span><span class="title-down">Un réveil difficile</span></h2>

                            <p>
                                C'est sous les coups de 7h ou 8h du matin qu'on se réveille pour nous préparer à la journée qui nous attend.
                            </p>

                            <figure class="js-image" data-pos="0.2">
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-20v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-21v-2.jpg') }}"  />
                                </div>
                                <figcaption>L'attente est longue.</figcaption>
                            </figure>
                        </section>

                        <section class="js-section" data-zoom-start="1.5">
                            <h2><span class="title-up">Aiguille du Midi</span><span class="title-down">Incertitude</span></h2>

                            <p>
                                On avait prévu de commencer la matinée par un tour à l'aiguille du Midi. <br><br>
                                Manque de chance, ce jour-là, le temps n'était pas favorable pour aller jusqu'en haut
                                car il y avait trop de vent pour les télécabines.
                            </p>

                            <figure class="js-image" data-pos="0.1">
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-22v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-23v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-24v-2.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-25v-2.jpg') }}"  />
                                </div>
                                <figcaption>Vue depuis le refuge du Plan de l'Aiguille.</figcaption>
                            </figure>

                            <p>
                                On a eu le droit d'aller au premier stop, au Refuge du Plan de l'Aiguille (2 207m d'altitude),
                                où on a pu se rendre au Lac Bleu et profiter d'un petit café en terrasse.
                            </p>

                            <figure>
                                <img src="{{ asset('storytelling/cochons/chamonix/img-29.jpg') }}"  />

                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-26.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-27.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-28.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-33.jpg') }}"  />
                                </div>

                                <div class="gallery-2" style="margin-top: 10px">
                                    <video controls>
                                        <source src="{{ asset('storytelling/cochons/chamonix/v3.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/cochons/chamonix/v5.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>

                                <div class="js-gallery-content">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-30.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-31.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-32.jpg') }}"  />
                                </div>

                                <div class="js-gallery-content">
                                    <video>
                                        <source src="{{ asset('storytelling/cochons/chamonix/v1.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                                <figcaption>On attend le feu vert pour aller à l'Aiguille du Midi.</figcaption>
                            </figure>

                            <p>
                                On redescend vers Chamonix pour prendre un autre téléphérique pour se rendre au Brevent.
                            </p>

                            <figure>
                                <img src="{{ asset('storytelling/cochons/chamonix/img-34.jpg') }}" />
                                <img src="{{ asset('storytelling/cochons/chamonix/img-35.jpg') }}" />
                                <img src="{{ asset('storytelling/cochons/chamonix/img-36.jpg') }}" />
                                <img src="{{ asset('storytelling/cochons/chamonix/img-37.jpg') }}" />
                                <figcaption>Durant le trajet aux télécabines, on a la chance de voir un nuage traverse un pic.</figcaption>
                            </figure>
                        </section>

                        <section class="js-section" data-zoom-start="1.5">
                            <h2><span class="title-up">Brévent</span><span class="title-down">Une belle surprise</span></h2>

                            <p>
                                Au sommet du Brévent, à environ 2 400m d'altitude, malgré le froid et un vent glacial, les quelques nuages et rayons de lumières nous
                                permettent de découvrir un paysage magnifique à 360° ! Chaque plan nous offre une ambiance et une histoire particulière.
                            </p>

                            <figure class="js-image" data-pos="0.3">
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-38.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-39.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-40.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-78.jpg') }}"  />
                                </div>
                                <figcaption>La grandeur de la nature.</figcaption>
                            </figure>

                            <figure>
                                <img src="{{ asset('storytelling/cochons/chamonix/img-41.jpg') }}"  />
                                <img src="{{ asset('storytelling/cochons/chamonix/img-42.jpg') }}"  />

                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-43.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-44.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-45.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-46.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-47.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-48.jpg') }}"  />
                                </div>
                                <div class="js-gallery-content">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-49.jpg') }}"  />
                                </div>
                                <figcaption>Le vent glacial.</figcaption>
                            </figure>

                            <p>
                                Après avoir apprécié ce décor, on redescend à Chamonix pour se faire le petit restaurant
                                du midi, il était incroyable.
                            </p>

                            <figure>
                                <img src="{{ asset('storytelling/cochons/chamonix/img-50.jpg') }}"  />
                                <figcaption>Le vent glacial.</figcaption>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="1.5">
                            <h2><span class="title-up">Mer de glace</span><span class="title-down">La mer de glace</span></h2>

                            <p>
                                Après le restaurant, place à la digestion à bord du train à crémaillère pour découvrir le
                                glacier de la Mer de glace depuis le site du Montenvers situé à 1 913m d'altitude.
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-51.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-52.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-53.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-54.jpg') }}"  />
                                </div>
                                <figcaption>Le repos des guerriers</figcaption>
                            </figure>

                            <p>
                                En plus de la vue sur le glacier, il est possible de visite une grotte de glace au coeur du glacier.
                                <br>
                                Malheureusement, ce jour-là, la grotte était fermée à cause des conditions météorologiques.
                            </p>

                            <figure class="js-image" data-pos="0.3">
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-55.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-56.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-57.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-58.jpg') }}"  />
                                </div>
                                <div class="js-gallery-content">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-59.jpg') }}"  />
                                </div>
                                <figcaption>Le monde réunit</figcaption>
                            </figure>

                            <p>
                                Au retour, on décide se reposer tranquillement au chalet et profiter du barbecue, sous la pluie !
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-62.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-71.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-63.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-79.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-61.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-60.jpg') }}"  />
                                </div>
                                <div class="js-gallery-content" style="margin-top: 10px;">
                                    <video controls>
                                        <source src="{{ asset('storytelling/cochons/chamonix/v4.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                                <figcaption>Mérité !</figcaption>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="1.5">
                            <h2><span class="title-up">Jour 3</span><span class="title-down">Une activité sportive</span></h2>

                            <p>
                                Pour commencer cette nouvelle journée, on avait prévu de faire un tour en rafting en mode sportif !
                                <br>
                                L'activité était sympathique avec en plus de beaux paysages à voir.
                            </p>

                            <figure>
                                <img src="{{ asset('storytelling/cochons/chamonix/img-64.jpg') }}"  />

                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-65.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-66.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-67.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-68.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-69.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-70.jpg') }}"  />
                                </div>
                                <figcaption>Une eau glaciale.</figcaption>
                            </figure>

                            <p>
                                Après avoir mangé, on chill au chalet avant d'aller se relaxer aux Thermes de Chamonix qui
                                offre une très belle infrastructure, une vue imprenable sur les montagnes et un apéro offert !
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-72.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-73.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-74.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-75.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-76.jpg') }}"  />
                                    <img src="{{ asset('storytelling/cochons/chamonix/img-77.jpg') }}"  />
                                </div>
                                <figcaption>Embrouille</figcaption>
                            </figure>

                            <blockquote>
                                Fin de l'escapade !
                            </blockquote>
                        </section>
                        <section class="js-section" data-stay="true" data-zoom-start="0.8"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
