{% extends 'user/pages/randos/template.html.twig' %}

{% set author = elem.author %}

{% block title %}{{ elem.name }} | {{ page_prefix }}{% endblock %}
{% set page_title_alone %}{{ elem.name }}{% endset %}
{% set page_subtitle %}Groupe de randonnée : {{ elem.name }}{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([
        { text: page_title_alone, url: path('user_randos_groupes_read', {'slug': elem.name})  },
    ]) %}
    {{ parent() }}
{% endblock %}

{% set half_width = true %}

{% block main_content %}
    <div class="page-actions">
        <div class="col-1">
            <a href="{{ path('user_randos_groupes_index') }}" class="btn btn-outline-default">
                <span class="icon-left-arrow"></span>
                <span>Retourner aux groupes</span>
            </a>
        </div>
        <div class="col-2">
            {% if app.user.id == elem.author.id %}
                <a href="{{ path('user_randos_groupes_update', {'slug': elem.slug}) }}" class="btn btn-warning">
                    <span class="icon-pencil"></span>
                    <span>Modifier</span>
                </a>
                <div class="delete-groupe"
                     data-context="read"
                     data-id="{{ elem.id }}"
                     data-name="{{ elem.name }}"
                >
                    <button class="btn btn-danger btn-loader-without-text">
                        <span class="icon-chart-3"></span>
                        <span>Supprimer</span>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="page-default">
        <div class="groupe-read">
            <div class="groupe-line-0">
                <div class="next-rando">
                    <div class="col-1">
                        <h2>Prochaine randonnée !</h2>
                        <div class="subtitle">Apprenez rapidement à prendre en main c !</div>
                    </div>

                    <div class="col-2">
                        <img src="{{ asset(elem.imageFile) }}" alt="logo {{ elem.name }}">
                        <div class="cta">
                            <a href="https://pitch.com/public/b49ac20a-d322-4a29-b8a4-2d9db07766fb" target="_blank" class="btn btn-primary">
                                <span>Démarrer</span>
                                <span class="icon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="next-creator">
                    <h2><span class="icon-user-octagon"></span> {{ elem.author.username }}</h2>
                    <div class="subtitle">Référent.e du groupe de randonnée</div>
                </div>
            </div>

            <div class="groupe-line-1">
                <div class="groupe-line-title">
                    <h2>Anciennes randonnées</h2>
                    <div class="subtitle">En dev.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
