{% extends 'user/pages/aventures/template.html.twig' %}

{% set author = elem.author %}

{% set page_title %}{{ elem.name }}{% endset %}
{% set page_subtitle %}Groupe d'aventures : {{ elem.name }}{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([
        { text: page_title_alone, url: path('user_aventures_groupes_read', {'slug': elem.slug})  },
    ]) %}
    {{ parent() }}
{% endblock %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_aventures_groupes_index'),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner aux groupes'
    } %}
    {% if app.user.id == elem.author.id or app.user.admin %}
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('user_aventures_groupes_update', {slug: elem.slug}),
            btn_type: 'default',
            btn_icon: 'pencil',
            btn_text: 'Modifier'
        } %}
    {% endif %}
{% endset %}

{% block main_content %}
    <div class="flex flex-col gap-12">
        <div class="flex flex-col gap-4 sm:flex-row">
            <div class="w-full max-w-screen-md bg-white p-4 border rounded-md flex flex-col gap-2">
                {% if next %}
                   <div class="w-full grid grid-cols-3">
                       <div class="flex flex-col gap-4 col-span-2">
                           <div>
                               <h2 class="text-xl font-semibold">{{ next.name }}</h2>
                               <div class="text-sm mb-4">{{ next.description | raw }}</div>
                               <div class="flex items-center gap-2 text-sm text-gray-600">
                                   <span class="icon-calendar !text-sm"></span>
                                   <span>
                                        {{ next.startAt ? next.startAt | format_datetime('full', 'none', locale='fr') | capitalize : 'Date indéfinie' }}
                                    </span>
                               </div>
                               {% if next.adventure %}
                                   <div class="flex items-center gap-2 text-sm mt-2 text-gray-600">
                                       <span class="icon-book-1 !text-sm"></span>
                                       <span>{{ next.adventure.name }}</span>
                                   </div>
                                   {% if next.adventure.duration %}
                                       <div class="flex items-center gap-2 text-sm mt-2 text-gray-600">
                                           <span class="icon-time !text-sm"></span>
                                           <span>{{ next.adventure.duration | date('H\\hi') }}</span>
                                       </div>
                                   {% endif %}
                                   {% if next.adventure.url and next.adventure.url != "https://" %}
                                       <div class="flex items-center gap-2 text-sm mt-2 text-gray-600">
                                           <span class="icon-link !text-sm"></span>
                                           <span>
                                               <a href="{{ next.adventure.url }}"
                                                  class="text-blue-700 hover:text-blue-500 hover:underline"
                                                  target="_blank">Lien du topo
                                               </a>
                                           </span>
                                       </div>
                                   {% endif %}
                               {% endif %}
                           </div>
                           <div class="flex gap-1">
                               {% include 'layout/components/tailwind/buttons/button_icon.html.twig' with {
                                   btn_link: path('user_aventures_randos_update', {slug: next.slug}),
                                   btn_type: 'default',
                                   btn_icon: 'pencil',
                                   btn_text: 'Modifier'
                               } %}

                               <div class="delete-rando"
                                    data-context="randos"
                                    data-id="{{ next.id }}"
                                    data-name="{{ next.name }}"
                                    data-groupe-slug="{{ elem.slug }}"
                               >
                                   {% include 'layout/components/tailwind/buttons/button_icon.html.twig' with {
                                       btn_link: "",
                                       btn_type: 'transparent',
                                       btn_icon: 'chart-3',
                                       btn_text: 'Supprimer'
                                   } %}
                               </div>
                           </div>
                       </div>

                       <div class="flex flex-col items-end justify-between gap-4">
                           <div class="flex flex-col gap-2">
                               <div class="flex items-center gap-2 text-xs rounded-2xl px-2 py-1 {{ next.status == 0 ? 'bg-yellow-500/10 text-yellow-600' : 'bg-gray-500/10 text-gray-800'  -}}">
                                   <div class="w-2 h-2 {{ next.status == 0 ? 'bg-yellow-500' : 'bg-gray-300'  }} rounded-full"></div>
                                   <div>en proposition</div>
                               </div>
                               <div class="flex items-center gap-2 text-xs rounded-2xl px-2 py-1 {{ next.status == 1 ? 'bg-yellow-500/10 text-yellow-600' : 'bg-gray-500/10 text-gray-800'  -}}">
                                   <div class="w-2 h-2 {{ next.status == 1 ? 'bg-yellow-500' : 'bg-gray-300'  }} rounded-full"></div>
                                   <div>validée</div>
                               </div>
                               <div class="flex items-center gap-2 text-xs rounded-2xl px-2 py-1 {{ next.status == 2 ? 'bg-yellow-500/10 text-yellow-600' : 'bg-gray-500/10 text-gray-800'  -}}">
                                   <div class="w-2 h-2 {{ next.status == 2 ? 'bg-yellow-500' : 'bg-gray-300'  }} rounded-full"></div>
                                   <div>terminée</div>
                               </div>
                           </div>

                           <div>
                               {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                                   btn_link: path('user_aventures_randos_read', {slug: next.slug}),
                                   btn_type: 'blue',
                                   btn_icon: 'right-arrow',
                                   btn_text: 'Voir l\'aventure'
                               } %}
                           </div>
                       </div>
                   </div>
                {% else %}
                    <div>
                        <h2 class="text-xl font-semibold">Aucune aventure de prévue.</h2>
                        <div class="text-gray-600">Préparez la prochaine aventure en cliquant sur <i>Créer une aventure</i></div>
                    </div>

                    <div>
                        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                            btn_link: path('user_aventures_randos_create', {g_slug: elem.slug}),
                            btn_type: 'blue',
                            btn_icon: 'add',
                            btn_text: 'Créer une aventure'
                        } %}
                    </div>
                {% endif %}
            </div>
            <div class="min-w-64 bg-blue-500 p-4 rounded-md text-slate-50">
                <h2 class="font-semibold"><span class="icon-user-octagon"></span> {{ elem.author.displayName }}</h2>
                <div class="text-sm">Référent.e du groupe d'aventures</div>
                {% if next %}
                    <h2 class="font-semibold"><span class="icon-user-octagon"></span> {{ next.author.displayName }}</h2>
                    <div class="text-sm">Référent.e de la prochaine aventure</div>
                {% endif %}
            </div>
        </div>

        <div class="groupe-line-1">
            <div>
                <h2 class="text-2xl font-semibold mb-4">Anciennes aventures</h2>
                {% if randos | length > 0 %}
                    <div class="flex justify-center gap-4 flex-wrap xl:justify-start qhd:gap-6">
                        {% for rando in randos %}
                            <div class="bg-white rounded-md w-full sm:w-72 md:w-80 xl:w-72 2xl:w-80 shadow-sm">
                                <a class="group block h-60 overflow-hidden rounded-t-md" href="{{ path('user_aventures_randos_read', {slug: rando.slug}) }}">
                                    <img src="{{ path('intern_api_aventures_randos_cover_src', {id: rando.id}) }}" alt="Cover rando" class="h-60 w-full object-cover transition-transform group-hover:scale-105">
                                </a>
                                <div class="flex items-center justify-between gap-2 px-4 py-2 border-t">
                                    {% if rando.story %}
                                        <div>
                                            <a href="{{ path('user_homepage') ~ "blog/" ~ rando.story }}"
                                               class="relative inline-flex items-center justify-center rounded-md text-lg px-2 py-2 bg-white shadow-sm text-gray-900 hover:bg-gray-50 ring-1 ring-inset ring-gray-300"
                                               target="_blank">
                                                <span class="icon-book-1"></span>
                                                <span class="tooltip bg-gray-300 py-1 px-2 rounded absolute -top-7 right-0 text-xs hidden">Histoire</span>
                                            </a>
                                        </div>
                                    {% else %}
                                        <div></div>
                                    {% endif %}
                                    <a href="{{ path('user_aventures_randos_read', {slug: rando.slug}) }}">
                                        <div class="flex flex-col items-center justify-center gap-1">
                                            <span class="font-semibold text-sm">{{ rando.name }}</span>
                                            <span class="text-sm text-gray-600">{{ rando.startAt | format_datetime(locale='fr', timeFormat="none") }}</span>
                                        </div>
                                    </a>
                                    {% if rando.googlePhotos %}
                                        <div class="link-google-photos">
                                            <a href="{{ rando.googlePhotos }}"
                                               class="relative inline-flex items-center justify-center rounded-md text-lg px-2 py-2 bg-white shadow-sm text-gray-900 hover:bg-gray-50 ring-1 ring-inset ring-gray-300"
                                               target="_blank">
                                            <span class="icon-google">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                                                <span class="path4"></span><span class="path5"></span><span class="path6"></span>
                                            </span>
                                                <span class="tooltip bg-gray-300 py-1 px-2 rounded absolute -top-7 right-0 text-xs hidden" style="width: 96px">Google Photos</span>
                                            </a>
                                        </div>
                                    {% else %}
                                        <div></div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="text-gray-600">Aucune aventure enregistrée..</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
