{% extends 'user/pages/aventures/template.html.twig' %}

{% set page_title %}Modifier : {{ elem.name }}{% endset %}
{% set page_subtitle %}Modifiez les informations du groupe d'aventures : {{ elem.name }}.{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([{ text: page_title }]) %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div class="page-actions">
        <div class="col-1">
            <a href="{{ path('user_aventures_groupes_index') }}" class="btn btn-outline-default">
                <span class="icon-left-arrow"></span>
                <span>Retourner à liste</span>
            </a>
            <a href="{{ path('user_aventures_groupes_read', {'slug': elem.slug}) }}" class="btn btn-outline-default">
                <span class="icon-left-arrow"></span>
                <span>Voir le groupe</span>
            </a>
        </div>
        <div class="col-2"></div>
    </div>

    <div id="groupes_update"
         data-element="{{ element }}"
         data-users="{{ users }}"
         data-members="{{ members }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
