{% extends 'user/pages/holidays/template.html.twig' %}

{% set author = elem.author %}

{% block title %}{{ elem.name }} | {{ page_prefix }}{% endblock %}
{% set page_title_alone %}{{ elem.name }}{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([
        { text: page_title_alone, url: path('user_projects_read', {'slug': elem.slug}) },
    ]) %}
    {{ parent() }}
{% endblock %}

{% set half_width = true %}

{% block main_content %}
    <div class="page-actions">
        <div class="col-1">
            <a href="{{ path('user_projects_index') }}" class="btn btn-outline-default">
                <span class="icon-left-arrow"></span>
                <span>Retourner aux projets</span>
            </a>
        </div>
        <div class="col-2">
            {% if app.user.id == elem.author.id or app.user.admin %}
                <a href="{{ path('user_projects_update', {'slug': elem.slug}) }}" class="btn btn-warning">
                    <span class="icon-pencil"></span>
                    <span>Modifier</span>
                </a>
                {% if elem.status != 2 %}
                    <div class="delete-rando"
                         data-context="read"
                         data-id="{{ elem.id }}"
                         data-name="{{ elem.name }}"
                    >
                        <button class="btn btn-danger btn-loader-without-text">
                            <span class="icon-chart-3"></span>
                            <span>Supprimer</span>
                        </button>
                    </div>
                    {% if elem.startAt != null %}
                        <div class="end-rando"
                             data-context="read"
                             data-id="{{ elem.id }}"
                             data-name="{{ elem.name }}"
                        >
                            <button class="btn btn-success btn-loader-without-text">
                                <span class="icon-chart-3"></span>
                                <span>Terminer</span>
                            </button>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="page-default">
        <div class="rando-read">
            <div class="rando-meta">
                <div class="features">
                    <div class="ra-status active">
                        <span>{{ elem.statusString }}</span>
                    </div>
                </div>
                <div class="author">
                    <div class="user">
                        <div class="name">{{ author.displayName }}</div>
                        <div class="avatar">
                            <div class="avatar-letter">{{ author.lastname | slice(0,1) }}{{ author.firstname | slice(0,1) }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rando-content">
                <div class="rando-col-propals {{- elem.startAt ? ' to-line' : '' -}}">
                    <div id="rando_date"
                         data-rando-id="{{ elem.id }}"
                         data-start-at="{{ elem.startAt ? elem.startAt | date('Y-m-d') : "" }}"
                         data-user-id="{{ app.user.id }}"
                         data-author-id="{{ elem.author.id }}"
                         data-mode="{{ app.user.id == elem.author.id or app.user.admin }}"
                         data-status="{{ elem.status }}"
                    >
                        {% include "layout/components/loader.html.twig" %}
                    </div>
                </div>

                {% if elem.startAt %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
