{% extends 'user/pages/blog/template.html.twig' %}

{% set page_title %}Les Queyras en automne{% endset %}
{% set page_subtitle %}Du 14 au 15 Octobre 2023{% endset %}

{% block main_content %}
    <div id="mapSrc" data-map="escapades/queyras/map.svg"></div>
    <div id="article-loader">
        {% include "layout/components/loader.html.twig" %}
    </div>
    <div class="main-content main-content-transparent" id="article" style="opacity: 0">
        <div class="article">
            <div class="content">
                <div class="main">
                    <div class="container"></div>
                    <div class="text">
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Queyras</span><span class="title-down">Les Queyras en automne</span></h2>
                            <p class="text-intro">L'espoir de voir les douces couleurs d'automne</p>

                            <p>
                                On démarre notre randonnée dans le froid depuis le parking au pied de la Cascade de la Pisse.
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v1.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v2.mp4') }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ asset('storytelling/escapades/queyras/2.jpg') }}" loading="lazy" />
                                    <img src="{{ asset('storytelling/escapades/queyras/3.jpg') }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v3.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v4.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>

                            <p>
                                Début de la randonnée avec quelques montées bien relous !
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/escapades/queyras/5.jpg') }}" loading="lazy" />
                                    <img src="{{ asset('storytelling/escapades/queyras/6.jpg') }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v5.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v6.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>

                            <p>
                                Les couleurs des mélèzes donnent un mélange de couleur incroyable tout le long du chemin.
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/escapades/queyras/9.jpg') }}" loading="lazy" />
                                    <img src="{{ asset('storytelling/escapades/queyras/10.jpg') }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v7.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v8.mp4') }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ asset('storytelling/escapades/queyras/15.jpg') }}" loading="lazy" />
                                    <img src="{{ asset('storytelling/escapades/queyras/16.jpg') }}" loading="lazy" />
                                </div>
                                <figcaption>La forêt aux différentes couleurs.</figcaption>
                            </figure>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v9.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v10.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v11.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v12.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                                <figcaption>Le chemin de randonnée longeant le haut de la cascade de la Pisse.</figcaption>
                            </figure>

                            <p>
                                A quelques minutes de la récompense !
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v13.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v14.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Lac miroir</span><span class="title-down">Le reflet de la forêt</span></h2>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v15.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v16.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v17.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v18.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Lac Sainte-Anne</span><span class="title-down">Niché au pied d'une montagne</span></h2>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v19.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v20.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v21.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v22.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Refuge</span><span class="title-down">Refuge de la Cime</span></h2>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v23.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v24.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v25.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v26.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="0.8">
                            <h2><span class="title-up">Lac de Clausis</span><span class="title-down">Superbe lac</span></h2>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v30.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v27.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v28.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v29.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v30.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v27.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v28.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v29.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v31.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v32.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>


                            <blockquote>
                                Fin des randonnées, direction la civilisation et quelques petites surprises !
                            </blockquote>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v33.mp4') }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ asset('storytelling/escapades/queyras/v34.mp4') }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>
                        </section>
{#                        <section class="js-section" data-stay="true" data-zoom-start="0.8"></section>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
