{% extends 'user/pages/blog/template.html.twig' %}

{% set page_title %}Les Queyras en automne{% endset %}
{% set page_subtitle %}Du 14 au 15 Octobre 2023{% endset %}

{% block main_content %}

    {% set groupe = "escapades" %}
    {% set aventure = "queyras" %}

    <style>
        p{
            color: #FFFFFF;
        }
    </style>
    <div id="mapSrc" data-map="escapades/queyras/map.svg"></div>
    <div id="article-loader">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
    <div class="main-content main-content-transparent" id="article" style="opacity: 0">
        <div class="article">
            <div class="content">
                <div class="main">
                    <div class="container"></div>
                    <div class="text">
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Queyras</span><span class="title-down">Les Queyras en automne</span></h2>
                            <p class="text-intro">L'espoir de voir les douces couleurs d'automne</p>

                            <p>
                                On démarre notre randonnée dans le froid depuis le parking au pied de la Cascade de la Pisse.
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v1.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v2.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '2.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '3.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v3.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v4.mp4'}) }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>

                            <p>
                                Début de la randonnée avec quelques montées bien relous !
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '5.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '6.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v5.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v6.mp4'}) }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>

                            <p>
                                Les couleurs des mélèzes donnent un mélange de couleur incroyable tout le long du chemin.
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '9.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '10.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v7.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v8.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '15.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '16.jpg'}) }}" loading="lazy" />
                                </div>
                                <figcaption>La forêt aux différentes couleurs.</figcaption>
                            </figure>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v9.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v10.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '17.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '18.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v11.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v12.mp4'}) }}" type="video/mp4" />
                                    </video>
                                </div>
                                <figcaption>Le chemin de randonnée longeant le haut de la cascade de la Pisse.</figcaption>
                            </figure>

                            <p>
                                A quelques minutes de la récompense !
                            </p>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v13.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v14.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '19.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '20.jpg'}) }}" loading="lazy" />
                                </div>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Lac miroir</span><span class="title-down">Le reflet de la forêt</span></h2>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '21.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '22.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v15.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v16.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '23.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '24.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v17.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v18.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '25.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '26.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '27.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '28.jpg'}) }}" loading="lazy" />
                                </div>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Lac Sainte-Anne</span><span class="title-down">Niché au pied d'une montagne</span></h2>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '29.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '30.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v19.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v20.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '31.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '32.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v21.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v22.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '33.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '34.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '35.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '36.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '37.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '38.jpg'}) }}" loading="lazy" />
                                </div>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Refuge</span><span class="title-down">Refuge de la Cime</span></h2>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '39.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '40.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v23.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v24.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v25.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v26.mp4'}) }}" type="video/mp4" />
                                    </video>
                                </div>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="0.8">
                            <h2><span class="title-up">Lac de Clausis</span><span class="title-down">Superbe lac</span></h2>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '45.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '46.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '41.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '42.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '44.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '43.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v30.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v27.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '47.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '48.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '49.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '50.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v28.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v29.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '51.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '52.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '53.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '54.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '55.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '56.jpg'}) }}" loading="lazy" />
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v31.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v32.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '57.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '58.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '59.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '60.jpg'}) }}" loading="lazy" />
                                </div>
                            </figure>

                            <blockquote>
                                Fin des randonnées, direction la civilisation et quelques petites surprises !
                            </blockquote>

                            <figure>
                                <div class="gallery-2">
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v33.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <video controls>
                                        <source src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: 'v34.mp4'}) }}" type="video/mp4" />
                                    </video>
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '62.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '63.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '64.jpg'}) }}" loading="lazy" />
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '65.jpg'}) }}" loading="lazy" />
                                </div>
                                <div class="js-gallery-content">
                                    <img src="{{ path('intern_api_storytelling_images_file_src', {groupe: groupe, aventure: aventure, filename: '61.jpg'}) }}" loading="lazy" />
                                </div>
                            </figure>

                            <blockquote>
                                😎 !
                            </blockquote>
                        </section>
                        <section class="js-section" data-stay="true" data-zoom-start="0.8"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
