{% extends 'user/pages/blog/template.html.twig' %}

{% set page_title %}Les Queyras en automne{% endset %}
{% set page_subtitle %}Du 14 au 15 Octobre 2023{% endset %}

{% block main_content %}
    <div id="mapSrc" data-map="escapades/queyras/map.svg"></div>
    <div id="article-loader">
        {% include "layout/components/loader.html.twig" %}
    </div>
    <div class="main-content main-content-transparent" id="article" style="opacity: 0">
        <div class="article">
            <div class="content">
                <div class="main">
                    <div class="container"></div>
                    <div class="text">
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Queyras</span><span class="title-down">Les Queyras en automne</span></h2>
                            <p class="text-intro">L'espoir de voir les douces couleurs d'automne</p>

                            <p>
                                On démarre notre randonnée dans le froid depuis le parking au pied de la Cascade de
                                la Pisse et quelques montées relous.
                            </p>

                            <div class="gallery-2">
                                <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                            </div>

                            <p>
                                Les couleurs des mélèzes donnent un mélange de couleur incroyable tout le long du chemin.
                            </p>

                            <div class="gallery-2">
                                <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                            </div>
                        </section>
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Lac miroir</span><span class="title-down">Le reflet de la forêt</span></h2>

                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                    <img src="{{ asset('storytelling/cochons/chamonix/2.jpg') }}" loading="lazy" />
                                </div>
                                <figcaption>Chalet chaleureux, bien équipé et une magnifique vue sur le glacier des Bossons.</figcaption>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Lac Sainte-Anne</span><span class="title-down">Niché au pied d'une montagne</span></h2>

                            <p>
                                On démarre au petit matin pour se rendre à Chamonix, plus précisément aux alentours des
                                Bossons, pour rejoindre notre fabuleux chalet loué sur AirBnb.
                                <br>
                                <br>
                                Arrivé un peu avant midi, on dépose nos bagages, on choisit nos lits et on découvre les lieux !
                            </p>
                            <p>
                                On démarre au petit matin pour se rendre à Chamonix, plus précisément aux alentours des
                                Bossons, pour rejoindre notre fabuleux chalet loué sur AirBnb.
                                <br>
                                <br>
                                Arrivé un peu avant midi, on dépose nos bagages, on choisit nos lits et on découvre les lieux !
                            </p>
                            <p>
                                On démarre au petit matin pour se rendre à Chamonix, plus précisément aux alentours des
                                Bossons, pour rejoindre notre fabuleux chalet loué sur AirBnb.
                                <br>
                                <br>
                                Arrivé un peu avant midi, on dépose nos bagages, on choisit nos lits et on découvre les lieux !
                            </p>
                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                    <img src="{{ asset('storytelling/cochons/chamonix/2.jpg') }}" loading="lazy" />
                                </div>
                                <figcaption>Chalet chaleureux, bien équipé et une magnifique vue sur le glacier des Bossons.</figcaption>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="1">
                            <h2><span class="title-up">Refuge</span><span class="title-down">Refuge de la Cime</span></h2>

                            <p>
                                On démarre au petit matin pour se rendre à Chamonix, plus précisément aux alentours des
                                Bossons, pour rejoindre notre fabuleux chalet loué sur AirBnb.
                                <br>
                                <br>
                                Arrivé un peu avant midi, on dépose nos bagages, on choisit nos lits et on découvre les lieux !
                            </p>
                            <p>
                                On démarre au petit matin pour se rendre à Chamonix, plus précisément aux alentours des
                                Bossons, pour rejoindre notre fabuleux chalet loué sur AirBnb.
                                <br>
                                <br>
                                Arrivé un peu avant midi, on dépose nos bagages, on choisit nos lits et on découvre les lieux !
                            </p>
                            <p>
                                On démarre au petit matin pour se rendre à Chamonix, plus précisément aux alentours des
                                Bossons, pour rejoindre notre fabuleux chalet loué sur AirBnb.
                                <br>
                                <br>
                                Arrivé un peu avant midi, on dépose nos bagages, on choisit nos lits et on découvre les lieux !
                            </p>
                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                    <img src="{{ asset('storytelling/cochons/chamonix/2.jpg') }}" loading="lazy" />
                                </div>
                                <figcaption>Chalet chaleureux, bien équipé et une magnifique vue sur le glacier des Bossons.</figcaption>
                            </figure>
                        </section>
                        <section class="js-section" data-zoom-start="0.8">
                            <h2><span class="title-up">Lac de Clausis</span><span class="title-down">Superbe lac</span></h2>

                            <p>
                                On démarre au petit matin pour se rendre à Chamonix, plus précisément aux alentours des
                                Bossons, pour rejoindre notre fabuleux chalet loué sur AirBnb.
                                <br>
                                <br>
                                Arrivé un peu avant midi, on dépose nos bagages, on choisit nos lits et on découvre les lieux !
                            </p>
                            <p>
                                On démarre au petit matin pour se rendre à Chamonix, plus précisément aux alentours des
                                Bossons, pour rejoindre notre fabuleux chalet loué sur AirBnb.
                                <br>
                                <br>
                                Arrivé un peu avant midi, on dépose nos bagages, on choisit nos lits et on découvre les lieux !
                            </p>
                            <p>
                                On démarre au petit matin pour se rendre à Chamonix, plus précisément aux alentours des
                                Bossons, pour rejoindre notre fabuleux chalet loué sur AirBnb.
                                <br>
                                <br>
                                Arrivé un peu avant midi, on dépose nos bagages, on choisit nos lits et on découvre les lieux !
                            </p>
                            <figure>
                                <div class="gallery-2">
                                    <img src="{{ asset('storytelling/cochons/chamonix/1.jpg') }}" loading="lazy" />
                                    <img src="{{ asset('storytelling/cochons/chamonix/2.jpg') }}" loading="lazy" />
                                </div>
                                <figcaption>Chalet chaleureux, bien équipé et une magnifique vue sur le glacier des Bossons.</figcaption>
                            </figure>
                        </section>
                        <section class="js-section" data-stay="true" data-zoom-start="0.8"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
