{% extends 'user/pages/aventures/template.html.twig' %}

{% set page_title %}Groupe d'aventures{% endset %}
{% set page_subtitle %}Liste des groupes d'aventures disponibles !{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_aventures_groupes_create'),
        btn_type: 'blue',
        btn_icon: 'add',
        btn_text: 'Ajouter un groupe'
    } %}
{% endset %}

{% block main_content %}
    <div class="page-default">
        <div class="groupes">
            {% for elem in groupes %}
                <div class="card">
                    <div class="card-header">
                        <div class="image">
                            <img src="{{ asset(elem.imageFile) }}" alt="Image du groupe {{ elem.name }}">
                        </div>
                        <div class="name">
                            <div class="semibold">{{ elem.name }}</div>
                            <div class="members">
                                {% set totalMembers = 1 %}
                                {% for member in elem.links %}
                                    {% if loop.index < 8 %}
                                        <div class="member">
                                            <div class="avatar">
                                                {% if member.user.avatarFile %}
                                                    <img src="{{ asset(member.user.avatarFile) }}" alt="Avatar utilisateur">
                                                {% else %}
                                                    <div class="avatar-letter">{{ member.user.lastname | slice(0, 1) }}{{ member.user.firstname | slice(0,1) }}</div>
                                                {% endif %}
                                            </div>
                                            <span class="tooltip">{{ member.user.displayName }}</span>
                                        </div>
                                    {% endif %}
                                    {% set totalMembers = totalMembers + 1 %}
                                {% endfor %}
                                {% if totalMembers >= 8 %}
                                    <div class="member">
                                        <div class="avatar">
                                            <div class="avatar-letter">+ {{ totalMembers - 7 }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>{{ elem.description | raw }}</div>
                        <span class="level">Niveau : {{ elem.levelString }}</span>
                    </div>
                    <div class="card-footer">
                        {% if app.user.id == elem.author.id %}
                            <a
                                    href="{{ path('user_aventures_groupes_update', {'slug': elem.slug}) }}"
                                    class="btn-icon"
                            >
                                <span class="icon-pencil"></span>
                                <span class="tooltip">Modifier</span>
                            </a>
                            <div class="delete-groupe"
                                 data-context="groupes"
                                 data-id="{{ elem.id }}"
                                 data-name="{{ elem.name }}"
                            >
                                <button class="btn-icon btn-loader-without-text"><span class="icon-chart-3"></span></button>
                            </div>
                        {% endif %}
                        <a
                                href="{{ path('user_aventures_groupes_read', {'slug': elem.slug}) }}"
                                class="btn-icon"
                        >
                            <span class="icon-right-arrow"></span>
                            <span class="tooltip" style="width: 118px;">Accéder à la page</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
