{% extends 'user/pages/aventures/template.html.twig' %}

{% set page_title %}Groupe d'aventures{% endset %}
{% set page_subtitle %}Liste des groupes d'aventures disponibles !{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_aventures_groupes_create'),
        btn_type: 'blue',
        btn_icon: 'add',
        btn_text: 'Ajouter un groupe'
    } %}
{% endset %}

{% block main_content %}
    <div class="flex justify-center gap-4 flex-wrap 2xl:justify-start qhd:gap-6">
        {% if groupes | length > 0 %}
            {% for elem in groupes %}
                <div class="bg-white rounded-md w-full sm:w-72 md:w-80 xl:w-72 shadow-sm">
                    <div class="p-4 border-b flex gap-4">
                        <div class="w-20 h-20 rounded">
                            <img src="{{ asset(elem.imageFile) }}" alt="Image du groupe {{ elem.name }}" class="w-20 h-20 rounded object-cover">
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="font-semibold">{{ elem.name }}</div>
                            <div class="flex ml-4">
                                {% set totalMembers = 1 %}
                                {% for member in elem.links %}
                                    {% if loop.index < 8 %}
                                        {% include "user/layout/components/elements/avatar.html.twig" %}
                                    {% endif %}
                                    {% set totalMembers = totalMembers + 1 %}
                                {% endfor %}
                                {% if totalMembers >= 8 %}
                                    <div class="-ml-4">
                                        <div class="w-8 h-8 text-sm shadow rounded-full bg-gray-500 flex items-center justify-center font-semibold text-slate-50">
                                            + {{ totalMembers - 7 }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="p-4 min-h-36 flex flex-col justify-between gap-1 border-b">
                        <div>{{ elem.description | raw }}</div>
                        <span class="text-gray-600 text-sm">Niveau : {{ elem.levelString }}</span>
                    </div>
                    <div class="flex justify-center items-center divide-x px-4 py-2">
                        {% if app.user.id == elem.author.id %}
                            <div class="w-full">
                                <a href="{{ path('user_aventures_groupes_update', {slug: elem.slug}) }}"
                                   class="relative flex items-center justify-center rounded-md text-lg px-2 py-2"
                                >
                                    <span class="icon-pencil"></span>
                                    <span class="tooltip bg-gray-300 py-1 px-2 rounded absolute -top-7 right-0 text-xs hidden">Modifier</span>
                                </a>
                            </div>
                            <div class="delete-groupe w-full text-center"
                                 data-context="groupes"
                                 data-id="{{ elem.id }}"
                                 data-name="{{ elem.name }}"
                            >
                                <button class="w-full relative flex items-center justify-center rounded-md text-lg px-2 py-2"><span class="icon-chart-3"></span></button>
                            </div>
                        {% endif %}
                        <div class="w-full">
                            <a href="{{ path('user_aventures_groupes_read', {slug: elem.slug}) }}"
                               class="relative flex items-center justify-center rounded-md text-lg px-2 py-2"
                            >
                                <span class="icon-right-arrow"></span>
                                <span class="tooltip bg-gray-300 py-1 px-2 rounded absolute -top-7 right-0 text-xs hidden" style="width: 114px;">Accéder à la page</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="w-full flex flex-col items-center justify-center">
                <div>
                    <div class="flex flex-col items-center justify-center bg-white p-12 rounded-xl shadow-sm">
                        <div class="bg-blue-100 rounded-lg p-3">
                            <svg class="w-6 h-6 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"/>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"/>
                            </svg>
                        </div>
                        <div class="text-xl font-medium mt-4">Aucune aventure enregistrée</div>
                        <div class="max-w-sm text-gray-500 text-center mt-2">
                            Vous n'avez aucune aventure de créée. Commencez avec votre premier groupe pour y ajouter des aventures.
                        </div>
                        <div class="mt-4">
                            {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                                btn_link: path('user_aventures_groupes_create'),
                                btn_type: 'blue',
                                btn_icon: 'add',
                                btn_text: 'Créer un groupe'
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
