{% extends 'user/pages/budget/template.html.twig' %}

{% set page_title %}Planificateur de budget{% endset %}
{% set page_subtitle %}Planifie ton budget au cours de l'année{% endset %}

{% block main_content %}
    {% if app.user.budgetInit != null %}
        <div class="page-actions">
            <div class="col-1">
                <a href="{{ path('user_budget_recurrences_index') }}" class="btn btn-primary">
                    <span>Voir les récurrences</span>
                </a>
            </div>
        </div>
        <div id="budget"
             data-donnees="{{ donnees }}"
             data-recurrences="{{ recurrences }}"
             data-y="{{ year }}"
             data-m="{{ month }}"
             data-year-min="{{ app.user.budgetYear }}"
             data-init-total="{{ initTotal }}"
        >
            {% include "layout/components/loader.html.twig" %}
        </div>
    {% else %}
        <div id="budget_init">
            {% include "layout/components/loader.html.twig" %}
        </div>
    {% endif %}
{% endblock %}
