{% extends 'base_tailwind.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_app') }}
{% endblock %}

{% set html_class = "bg-white" %}

{% block body %}
    {% include "layout/components/page-loader.html.twig" %}

    <div class="bg-white max-w-screen-qhd mx-auto">
        <header class="relative z-10">
            <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex lg:flex-1">
                    <a href="{{ path('app_homepage') }}" class="-m-1.5 p-1.5">
                        <span class="sr-only">Nompaw</span>
                        <img class="h-12 w-auto rounded-md" src="{{ asset('build/app/images/logo.png') }}" alt="Nompaw">
                    </a>
                </div>
                <div class="lg:flex lg:gap-x-12">
                    <p class="text-sm font-semibold leading-6 text-gray-900">Nompaw</p>
                </div>
                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    <a href="{{ path('app_login') }}" class="text-sm font-semibold leading-6 text-gray-900">Se connecter <span aria-hidden="true">&rarr;</span></a>
                </div>
            </nav>
        </header>

        <div class="relative isolate px-6 py-14 sm:min-h-[calc(100vh-105px-96px)] lg:px-8">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
                <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            {% block main_content %}{% endblock %}
        </div>

        {% block footer %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_app') }}
{% endblock %}
