{% extends 'user/pages/budget/recurrences/template.html.twig' %}

{% set page_title %}Modifier {{ elem.name }} #{{ elem.id }}{% endset %}
{% set page_subtitle %}Modifier les informations relatives à {{ elem.name }}.{% endset %}

{% block main_content %}
    {% include "layout/components/admin/page_toolbar.html.twig" with { page_back: path('user_budget_recurrences_index', {'h': elem.id}) } %}

    <div id="recurrences_update"
         data-obj="{{ obj }}"
         data-categories="{{ categories }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}

